Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(1)  # Set the random seed for reproducibility

data = np.random.rand(4, 4)  # Generate random values
df = pd.DataFrame(data)  # Create the dataframe
df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])
df = df.rename(index={0: 'Observation1', 1: 'Observation2', 2: 'Observation3', 3: 'Observation4'})
print(df)

              Feature1  Feature2  Feature3  Feature4
Observation1  0.417022  0.720324  0.000114  0.302333
Observation2  0.146756  0.092339  0.186260  0.345561
Observation3  0.396767  0.538817  0.419195  0.685220
Observation4  0.204452  0.878117  0.027388  0.670468

Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df. columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

              Random value 1  Random value 2  Random value 3  Random value 4
Observation1        0.417022        0.720324        0.000114        0.302333
Observation2        0.146756        0.092339        0.186260        0.345561
Observation3        0.396767        0.538817        0.419195        0.685220
Observation4        0.204452        0.878117        0.027388        0.670468

Task - 3 Find the descriptive statistics of the 'df' dataframe.

In [ ]:
statistics = df.describe()
print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.291249        0.557399        0.158239        0.500895
std          0.135849        0.339623        0.192361        0.205172
min          0.146756        0.092339        0.000114        0.302333
25%          0.190028        0.427197        0.020569        0.334754
50%          0.300610        0.629571        0.106824        0.508014
75%          0.401831        0.759773        0.244494        0.674156
max          0.417022        0.878117        0.419195        0.685220

Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [ ]:
null_values = df.isnull().sum()
data_types = df.dtypes
print(null_values)
print(data_types)

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

Task-5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location mETHOD

In [ ]:
# Display columns using the location method
random_value_2_location = df.iloc[:, 1]
random_value_3_location = df.iloc[:, 2]

# Display columns using index location method
random_value_2_index = df['Random value 2']
random_value_3_index = df['Random value 3']

print(random_value_2_location)
print(random_value_3_location)
print(random_value_2_index)
print(random_value_3_index)

Observation1    0.720324
Observation2    0.092339
Observation3    0.538817
Observation4    0.878117
Name: Random value 2, dtype: float64
Observation1    0.000114
Observation2    0.186260
Observation3    0.419195
Observation4    0.027388
Name: Random value 3, dtype: float64
Observation1    0.720324
Observation2    0.092339
Observation3    0.538817
Observation4    0.878117
Name: Random value 2, dtype: float64
Observation1    0.000114
Observation2    0.186260
Observation3    0.419195
Observation4    0.027388
Name: Random value 3, dtype: float64